.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.logo {
  width: 100px;
}

.res-card {
  padding: 2px;
  margin: 2px;
  width: 250px;
  /* height: 380px; */
}
.res-container {
  display: flex;
  /* margin: 5px; */
  flex-wrap: wrap;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.body {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
}

.search {
  padding: 10px;
}
.res-img {
  width: 100%;
}
